body {
  background-color: #eee !important;
  padding-top: 5px;
  &.empty-state-active {
    overflow: hidden;
  }
}

hr {
  border-color: black !important;
}

.img-btn {
  cursor: pointer;
  padding: 0 10px;
}

.shortlink-address {
  height: 43px !important;
  width: 230px;
}

.shortlink {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.source-code {
  padding-top: 13px;
}

.imgcontainer {
  text-align: center;
}

#empty-state {
  display: flex;
  align-items: center;
  height: 100%;
  height: 100vh;
  #empty-state-content {
    width: 100%;
    border-width: 3px;
    border-style: dashed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    border-color: grey;
    color: grey;
    text-align: center;
    padding: 10px;
    font-size: 40pt;
  }
}
