.row
  .col-xs-4.source-code= link_to 'Source Code', 'https://github.com/daveallie/pastey'
  .col-xs-4.title Pastey
  .col-xs-4.shortlink
    .btn.btn-primary.shortlink-btn Get Shortlink
    %input.form-control.shortlink-address{type: :text, readonly: true, 'data-loading-text': 'Loading...', style: 'display:none;'}

:javascript
  Pastey.init(#{@image_data})
